{{ define "about" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>About &ndash; vworp!</title>
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container" class="justified">
        <h1>About</h1>

        <p>Many, if not all, high-traffic services utilize two or more
        onion addresses to stave off DDoS attacks. If unsuccessful and an address goes down, one of the others usually
        takes its place. For habitual users, it's become a common practice to visit the so-called
        link directories to find the online addresses. This may work for users but not so much for content publishers
        who want to link to a specific content.</p>

        <p>This is where vworp! comes in. It tracks uptime of service's addresses and redirect to those which are online.</p>

        <p>Use vworp! to link to content in your forum posts or in articles on your blog and be sure your readers will
            <em>always</em> get where you want them to be.</p>

        <p>The list of supported services and their addresses is limited by content of <a href="/to/oniontree/9df6773f0b">OnionTree</a> &ndash;
        an open source repository of Tor hidden services.</p>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}