{{ define "help" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>Help &ndash; vworp!</title>
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container" class="justified">
        <h1>Help</h1>

        <h2>1. <em>My link is not recognized, why?</em></h2>

        <p>
            The list of supported services and their addresses is limited by content of
            <a href="/to/oniontree/9df6773f0b">OnionTree</a> &ndash;
            an open source repository of Tor hidden services.
            Your best shot at making vworp! support a new service is to
            have it included in OnionTree.
        </p>

        <h2>2. <em>What's a preview link?</em></h2>

        <p>
            A preview link is a link that requires user's interaction before it redirects. You
            can recognize them by ?preview at the end.
        </p>

    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}