{{ define "help" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>Help &ndash; vworp!</title>
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container" class="justified">
        <h1>Help</h1>

        <p>
            <strong>Q:</strong> Why isn't my link recognized by vworp!?
            <br>
            <strong>A:</strong> ...
        </p>

        <p>
            <strong>Q:</strong>
        </p>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}