{{ define "home" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>A URL shortener for the Tor network &ndash; vworp!</title>
    </head>
    <body>
    <div id="container" class="centered">
        <div class="elem" style="margin-top:60px;">
            <a href="/" class="logo" title="vworp!" style="width:10rem;margin:0 auto;">
                <img src="/static/img/vworp.png" alt="vworp!">
                <img src="/static/img/vworp_hover.png" alt="vworp!">
            </a>
        </div>

        <p>A URL shortener for the Tor network.</p>

        {{ template "elem_new_link_form" }}

        {{ template "elem_did_you_know" }}
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}