{{ define "links_oops" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Oops &ndash; vworp!</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container">
        {{ if .OopsMessage }}
            <h1>Oops.</h1>

            <p>{{ .OopsMessage }}</p>

            {{ template "elem_new_link_form" }}

            <h4><a href="/help">Need help?</a></h4>
        {{ end }}
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}