{{ define "links_view" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>Done &ndash; vworp!</title>
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container" class="centered">
        {{ if eq .Section "new" }}
            <h1>Done</h1>

            <p>
                The address in the submitted link belongs to <span class="service_id">{{ .Service.Name }}</span>.
            </p>

            {{ if gt (len .Service.URLs) 1 }}
                <p>
                    <span class="service_id">{{ .Service.Name }}</span> is known to use <strong>{{ len .Service.URLs }}</strong> different addresses.
                </p>
            {{ end }}

            <p>Use the links below to redirect there. A preview link will give recipients a chance to see the
            destination before being redirected.</p>

            <div class="elem">
                <input type="text" style="width:100%;" readonly="readonly" value="http://{{ .ServerAddress }}/to/{{ .Service.ID }}/{{ .Link.Fingerprint }}">
            </div>

            <div class="elem">
                <input type="text" style="width:100%;" readonly="readonly" value="http://{{ .ServerAddress }}/to/{{ .Service.ID }}/{{ .Link.Fingerprint }}?preview">
            </div>
        {{ else }}
            <h1>Oops</h1>

            <p class="centered">Carry on, nothing to see here.</p>
        {{ end }}
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}