{{ define "links_view" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>Done &ndash; vworp!</title>
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container" class="centered">
        {{ if eq .Section "new" }}
            <h1>Done</h1>

            <p>
                The address in the submitted link belongs to <span class="service_id">{{ .Service.Name }}</span>.
            </p>

            <p>
                Use the shortened link below to redirect there:
            </p>

            <div class="elem">
                <input type="text" class="links_input" readonly="readonly" value="http://{{ .ServerAddress }}/to/{{ .Service.ID }}/{{ .Link.Fingerprint }}?preview">
            </div>
        {{ else }}
            <h1>Oops</h1>

            <p class="centered">Carry on, nothing to see here.</p>
        {{ end }}
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}