{{ define "oops" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>Oops &ndash; vworp!</title>
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container" class="centered">
        {{ if .OopsMessage }}
            <h1>Oops</h1>

            <p>{{ .OopsMessage }}</p>

            {{ if .ShowSubmitForm -}}
                {{ template "elem_new_link_form" }}
            {{- end }}

            {{ template "elem_need_help" }}
        {{ end }}
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{- end }}