{{ define "redirect" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head" }}
        <title>{{ if .Online -}}Redirecting{{- else -}}{{ .Service.Name }} is offline{{ end }} &ndash; vworp!</title>
    </head>
    <body>
        {{ template "menu" . }}
        <div id="container" class="centered">
            {{ if .Online }}
                <p>You are being redirected to</p>

                <h1>{{ .Service.Name }}</h1>

                <p>
                    via
                </p>

                <p>
                    <a href="{{ .Mirror }}{{ .Link.Path }}">{{ .Mirror }}</a>
                </p>
            {{ else }}
                <h1>{{ .Service.Name }}</h1>

                <p>All mirrors are <span>offline</span>.</p>
            {{ end }}
        </div>
        {{ template "footer" . }}
    </body>
    </html>
{{- end }}