{{ define "service_notfound" -}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Service not found &ndash; vworp!</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
    {{ template "menu" . }}
    <div id="container">
        <h1>Oops!</h1>
        <p>Service not found. It may have been removed or your link is invalid.</p>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{ end }}